#wrapper {
  position: relative;
  top: 100px;
  margin: 0 auto;
  text-align: center;
}

#inputText {
  width: 400px;
  height: 50px;
  text-align: center;
  font-size: 18px;
  color: dodgerblue;
  border-radius: 30px;
  border: solid gray 1px;
}

#alert {
  background: #a54840;
  color: azure;
}
